<% if (frp.permission_level == '0') { %>

<div class="btn-group pull-right">
	<a id="add-new-account-button" href="#" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add new account</a>
	<a href="#" id="generate-csv-btn" class="btn btn-success"><i class="icon-white icon-arrow-down"></i> Download as CSV</a>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th width="200">Director</th>
			<th>Email</th>
			<th width="150">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<%
		var accounts = payload;
		var v = 0;
		for (var i = 0; i < accounts.length && accounts[i].permission_level == 0; i++, v++) { %>
		<tr>
			<td><%= accounts[i].first_name %> <%= accounts[i].last_name %></td>
			<td><%= accounts[i].email %></td>
			<td><% if (frp.staff_id != accounts[i].id) { %> <input type="hidden" name="id" value="<%= accounts[i].id %>"><div class="btn-group"><a href="#" class="edit-btn btn btn-small"><i class="icon-pencil"></i> Edit</a><a href="#" class="remove-btn btn btn-small"><i class="icon-remove"></i> Remove</a></div></div><% } %></td>
		</tr>
		<% } %>
	</tbody>
</table>

<table class="table table-hover">
	<thead>
		<tr>
			<th width="200">Coordinator</th>
			<th>Email</th>
			<th>Programs</th>
			<th width="150">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i = v; i < accounts.length; i++) { %>
		<tr>
			<td><%= accounts[i].first_name %> <%= accounts[i].last_name %></td>
			<td><%= accounts[i].email %></td>
			<td><%= accounts[i].programs %></td>
			<td><input type="hidden" name="id" value="<%= accounts[i].id %>"><div class="btn-group"><a href="#" class="edit-btn btn btn-small"><i class="icon-pencil"></i> Edit</a> <a href="#" class="remove-btn btn btn-small"><i class="icon-remove"></i> Remove</a></div></td>
		</tr>
		<% } %>
	</tbody>
</table>

<% } else { %>

<% } %>
